<input type="text" placeholder="search for User">
<button>Search</button>

<ul>
    @for (item of firebase.UserList; track item) {
    <li>
        <div>
            <div>
                Name: {{ item['firstName'] }}
            </div>
            <div>
                Lastname: {{ item['lastName']}}
            </div>
            <div>
                Birthday: {{ item['birthDate']}}
            </div>
            <div>
                Street: {{ item['street']}}
            </div>
            <div>
                City: {{ item['zipCode']}} {{ item['city']}}
            </div>
        </div>
        <div class="buttons-container">
            <div class="ändern">
                <button mat-icon-button class="menu-icon" (click)="changeData(item)" matTooltip="change data"
                matTooltipPosition="above">
                    <mat-icon>change_circle</mat-icon>
                </button>
            </div>
            <div class="ändern">
                <button mat-icon-button class="menu-icon" (click)="deleteData(item)" matTooltip="delete user"
                matTooltipPosition="above">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </li>
    }
</ul>

<div class="button-container">
    <button (click)="openDialog()" mat-fab class="add-user-button" color="primary" matTooltip="add user"
        matTooltipPosition="above">
        <mat-icon>add</mat-icon>
    </button>
</div>