.add-user-button{
    position:absolute;
    right:56px;
    bottom:56px;
}

.ändern{
    font-weight:bold;
    &:hover{
        cursor:pointer;
    }
}

li{
    list-style-type: none;
    box-shadow:1px 1px 2px black;
    margin-top:16px;
}



.buttons-container{
    display:flex;
    gap:20px;
    width:100%;
}